@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Bold.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-LightItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Black.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce ExBold";
  src: url("../_media/fnt/OpenSauceSans-ExtraBoldItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Light.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-BlackItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-ExtraBold.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-BoldItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Italic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "victor-mono";
  src: url("../_media/fnt/VictorMono-Thin.woff2") format("woff2"),
    url("../_media/fnt/VictorMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Regular.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-Medium.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-SemiBold.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "victor-mono";
  src: url("../_media/fnt/VictorMono-ThinItalic.woff2") format("woff2"),
    url("../_media/fnt/VictorMono-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-SemiBoldItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "open-sauce";
  src: url("../_media/fnt/OpenSauceSans-MediumItalic.woff2") format("woff2"),
    url("../_media/fnt/OpenSauceSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
