@import url("color.css");
@import url("font.css");

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "open-sauce", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: 400;
  padding: 0.35rem 0;
}

p,
a,
li,
label {
  font-family: "victor-mono", "Courier New", Courier, monospace;
  color: #000000;
  font-size: 12px;
}

main {
  padding: 20px;
  margin: 20px;
  width: 500px;
  border-radius: 5px;
}

canvas {
  display: block;
  border-radius: 5px;
}

img {
  image-rendering: pixelated;
  border-radius: 5px;
}

span {
  float: right;
}

hr {
  border: 0;
  border-bottom: 1px dashed #000000;
}

select {
  width: 100%;
}

.directory {
  list-style-type: none;
  font-style: italic;
}

/* Responsive iframe */
iframe {
  border: 0px;
  border-radius: 5px;
}
.wrapper {
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  background: #fff;
}
.h_iframe {
  position: relative;
  padding-top: 100%;
}
.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  width: 100%;
}
figcaption {
  padding: 5px 0 10px 0;
  text-align: center;
  font-style: italic;
}

/* Back Button */
.button {
  font-family: "victor-mono", "Courier New", Courier, monospace;
  font-size: 12px;
  padding: 2px 5px;
  text-decoration: none;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
}
.button:active {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
}
tr,
td {
  padding: 5px;
  border: #000000;
}
td p {
  margin: 0;
}
