/*
 * Glossary
 * - bdr: Border
 * - hdr: Header
 * - bg:  Background 
 * - fg:  Foreground
 *
 */

/* Index - White */
.i-bg {
  background: #ffffff;
}

/* Meta - Black */
.m-hdr {
  border-bottom: 2px solid #000000;
}
.m-bg {
  background: #000000;
}

/* Post - Purple */
.p-hdr {
  border-bottom: 2px solid #663399;
}
.p-bg {
  background: #663399;
}
.p-bg-2 {
  background: #e6d3fa;
}
.p-fg {
  color: #663399;
}

/* Tool - Blue */
.t-hdr {
  border-bottom: 2px solid #0099cc;
}
.t-bg {
  background: #0099cc;
}
.t-bg-2 {
  background: #ccf2ff;
}
.t-fg {
  color: #0099cc;
}

/* Gallery - Green */
.g-hdr {
  border-bottom: 2px solid #66cc33;
}
.g-bg {
  background: #66cc33;
}
.g-bg-2 {
  background: #dff0d6;
}
.g-fg {
  color: #66cc33;
}

/* Journal - Yellow */
.j-hdr {
  border-bottom: 2px solid #ffcc33;
}
.j-bdr {
  border: 2px solid #ffcc33;
}
.j-bg {
  background: #ffcc33;
}
.j-bg-2 {
  background: #faedc7;
}
.j-fg {
  color: #ffcc33;
}

/* Experience - Orange */
.e-hdr {
  border-bottom: 2px solid #ff9933;
}
.e-bg {
  background: #ff9933;
}
.e-bg-2 {
  background: #fdedde;
}
.e-fg {
  color: #ff9933;
}

/* Sound - Red */
.s-hdr {
  border-bottom: 2px solid #ff6666;
}
.s-bg {
  background: #ff6666;
}
.s-fg {
  color: #ff6666;
}
